<head xmlns:th="https://www.thymeleaf.org" th:fragment="head"
  th:with="description=${isPost ? post != null ? post.status.excerpt : singlePage != null ? singlePage.status.excerpt : site.seo.description : site.seo.description}">
  <title th:text="${title + (#strings.isEmpty(site.subtitle) ? '' : '|' + site.subtitle)}"></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="keywords" th:content="${site.seo.keywords}" />
  <meta name="description" th:content="${description}">
  <meta name="author" th:content="${site.title}">
  <meta name="site" th:content="${site.url}">
  <meta property="og:type" content="website">
  <meta property="og:title" th:content="${site.title}">
  <meta property="og:url" th:content="${canonical}">
  <meta property="og:site_name" th:content="${title}">
  <meta property="og:description" th:content="${description}">
  <meta property="og:locale" content="zh">
  <meta property="og:image" th:content="${site.logo}">

  <link rel="preload stylesheet" as="style" th:href="@{/assets/css/theme.min.css(mew=${theme.spec.version})}">
  <!-- <link rel="preload stylesheet" as="style" th:href="@{/assets/lib/remixicon@3.5.0/remixicon.min.css}"> -->
  <link rel="preload stylesheet" as="style" th:href="@{/assets/css/style.min.css(mew=${theme.spec.version})}">

  <th:block th:if="${isPost}">
    <!-- <link data-pjax rel="preload stylesheet" as="style"
          th:href="@{'/assets/lib/highlightjs@11.5.1/styles/' + ${theme.config.post.code_pretty} + '.min.css'}"/> -->
    <link data-pjax rel="preload stylesheet" as="style" th:href="@{/assets/css/post.min.css(mew=${theme.spec.version})}"/>
    <!-- <link th:if="${enableKatex}" data-pjax rel="preload stylesheet" as="style" th:href="@{/assets/lib/katex@0.12.0/katex.min.css}"/> -->
    <!-- <link th:if="${enableShare}" data-pjax rel="preload stylesheet" as="style" th:href="@{/assets/css/dshare.min.css(mew=${theme.spec.version})}"> -->
  </th:block>

  <!-- <link rel="stylesheet" th:href="@{/assets/lib/qmsg/qmsg.min.css}"> -->
  <!-- <th:block th:replace="~{common/config}"/> -->
  <!-- <script th:src="@{/assets/lib/jquery@3.5.1/jquery.min.js}"></script> -->

  <style th:inline="css"
  th:with="fontSrc = ${theme.config.basic_style.web_font != 'default' ? theme.config.basic_style.web_font == 'custom' ? theme.config.basic_style.custom_font : #theme.assets('/font/' + theme.config.basic_style.web_font) : ''},
  fontFormat = ${fontSrc.endsWith('.ttf') ? 'truetype' : fontSrc.endsWith('.eot') ? 'embedded-opentype' : fontSrc.replaceAll('^.*\.([\w]+)$', '$1')}">
    @font-face {
        font-family: "As rust Font";
        font-display: swap;
        font-weight: 400;
        src: url("' + fontSrc + '")' + (#strings.isEmpty(fontFormat)? '' : ' format("' + fontFormat + '")') + ';
    }
  </style>
</head>