<head xmlns:th="https://www.thymeleaf.org" th:fragment="head"
  th:with="description=${isPost ? post != null ? post.status.excerpt : singlePage != null ? singlePage.status.excerpt : site.seo.description : site.seo.description}">
  <title th:text="${title + (#strings.isEmpty(site.subtitle) ? '' : '|' + site.subtitle)}"></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="keywords" th:content="${site.seo.keywords}" />
  <meta name="description" th:content="${description}">
  <meta name="author" th:content="${site.title}">
  <meta name="site" th:content="${site.url}">
  <meta property="og:type" content="website">
  <meta property="og:title" th:content="${site.title}">
  <meta property="og:url" th:content="${canonical}">
  <meta property="og:site_name" th:content="${title}">
  <meta property="og:description" th:content="${description}">
  <meta property="og:locale" content="zh">
  <meta property="og:image" th:content="${site.logo}">

  <!-- css模块 -->
  <link rel="preload stylesheet" as="style" th:href="@{/assets/css/theme.min.css(mew=${theme.spec.version})}">
  <link rel="preload stylesheet" as="style" th:href="@{/assets/lib/remixicon@3.5.0/remixicon.min.css}">
  <link rel="preload stylesheet" as="style" th:href="@{/assets/css/style.min.css(mew=${theme.spec.version})}">

  <th:block th:if="${isPost}">
    <!-- <link data-pjax rel="preload stylesheet" as="style"
          th:href="@{'/assets/lib/highlightjs@11.5.1/styles/' + ${theme.config.post.code_pretty} + '.min.css'}"/> -->
    <link data-pjax rel="preload stylesheet" as="style"
      th:href="@{/assets/css/post.min.css(mew=${theme.spec.version})}" />
    <!-- <link th:if="${enableKatex}" data-pjax rel="preload stylesheet" as="style" th:href="@{/assets/lib/katex@0.12.0/katex.min.css}"/> -->
    <!-- <link th:if="${enableShare}" data-pjax rel="preload stylesheet" as="style" th:href="@{/assets/css/dshare.min.css(mew=${theme.spec.version})}"> -->
  </th:block>

  <!-- <link rel="stylesheet" th:href="@{/assets/lib/qmsg/qmsg.min.css}"> -->
  <!-- <th:block th:replace="~{common/config}"/> -->
  <th:block th:replace="~{layout/style}"/>



  <!-- js模块：注意js加载顺序是从上到下，jquery要放在common之前-->
  <script th:src="@{/assets/lib/jquery@3.5.1/jquery.min.js}"></script>
  <script th:src="@{/assets/js/btoc.min.js(mew=${theme.spec.version})}"></script>
  <script th:src="@{/assets/js/common.min.js(mew=${theme.spec.version})}"></script>
  
  <th:block th:if="${isPost}">
    <script th:if="${isPost}" data-pjax th:src="@{/assets/lib/highlightjs@11.5.1/highlight.min.js}"></script>
    <script th:if="${isPost}" data-pjax th:src="@{/assets/lib/clipboard@2.0.10/clipboard.min.js}"></script>
    <!-- <script th:if="${enableKatex}" data-pjax th:src="@{/assets/lib/katex@0.12.0/katex.min.js}"></script>
    <script th:if="${enableShare}" data-pjax th:src="@{/assets/js/dshare.min.js(mew=${theme.spec.version})}"></script> -->
    <script th:if="${isPost}" data-pjax th:src="@{/assets/js/post.min.js(mew=${theme.spec.version})}"></script>
    <!-- <script th:if="${isJournals}" data-pjax th:src="@{/assets/js/journals.min.js(mew=${theme.spec.version})}"></script> -->
  </th:block>

</head>